.elementor-4059 .elementor-element.elementor-element-2hp7bty {
	background-color: #8a3535;

	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 100px 100px 100px 100px;
}

.elementor-4059 .elementor-element.elementor-element-2hp7bty > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-r08t975 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget {
	margin-bottom: 9px;
}

.elementor-4059 .elementor-element.elementor-element-r08t975 > .elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-r08t975 > .elementor-element-populated > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-93qle0l .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-kr7y2ky .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-ji3zvf4 .elementor-spacer-inner {
	height: 14px;
}

.elementor-4059 .elementor-element.elementor-element-ji3zvf4 .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-h9nyc9l .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-m7fnete {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-m7fnete > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-k8p5312 > .elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-k8p5312 > .elementor-element-populated > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-2j9d70y > .elementor-widget-container {
	border-radius: 0px 0px 0px 0px;
}

.elementor-4059 .elementor-element.elementor-element-2j9d70y .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-jiusjaf {
	background-image: url("../imgs/img2.jpg");
	background-position: top left;
	background-repeat: no-repeat;
	background-size: cover;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 82px 0px 109px 0px;
}

.elementor-4059 .elementor-element.elementor-element-jiusjaf > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-9nyw3wn > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget {
	margin-bottom: 6px;
}

.elementor-4059 .elementor-element.elementor-element-9nyw3wn > .elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 21px 10px 0px 10px;
}

.elementor-4059 .elementor-element.elementor-element-9nyw3wn > .elementor-element-populated > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-jq6h6z0 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget {
	margin-bottom: 2px;
}

.elementor-4059 .elementor-element.elementor-element-jq6h6z0 > .elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-jq6h6z0 > .elementor-element-populated > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-wthgncj .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-6qyy7lr .elementor-spacer-inner {
	height: 35px;
}

.elementor-4059 .elementor-element.elementor-element-6qyy7lr .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-fu4371z {
	color: #29a4e3;
	letter-spacing: 1px;
}

.elementor-4059 .elementor-element.elementor-element-fu4371z .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-3wkw3at {
	color: #9a9a9a;
}

.elementor-4059 .elementor-element.elementor-element-3wkw3at > .elementor-widget-container {
	margin: -14px 0px 0px 0px;
}

.elementor-4059 .elementor-element.elementor-element-3wkw3at .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-m7ooaki .elementor-divider-separator {
	border-top-style: solid;
	border-top-width: 4px;
	border-top-color: #29a4e3;
	width: 46px;
}

.elementor-4059 .elementor-element.elementor-element-m7ooaki .elementor-divider {
	padding-top: 3px;
	padding-bottom: 3px;
}

.elementor-4059 .elementor-element.elementor-element-m7ooaki .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-dnqehsc .elementor-spacer-inner {
	height: 17px;
}

.elementor-4059 .elementor-element.elementor-element-dnqehsc .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-fs0m159 .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-9mz5iau .elementor-spacer-inner {
	height: 10px;
}

.elementor-4059 .elementor-element.elementor-element-9mz5iau .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-3gsdx6u .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-wdczuwr .elementor-spacer-inner {
	height: 30px;
}

.elementor-4059 .elementor-element.elementor-element-wdczuwr .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-fu541mc a.elementor-button,
.elementor-4059 .elementor-element.elementor-element-fu541mc .elementor-button {
	padding: 18px 49px 17px 49px;
}

.elementor-4059 .elementor-element.elementor-element-fu541mc .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-0rt79vq {
	background-color: #f5f5f5;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 82px 0px 109px 0px;
}

.elementor-4059 .elementor-element.elementor-element-0rt79vq > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-2j42o3t > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget {
	margin-bottom: 6px;
}

.elementor-4059 .elementor-element.elementor-element-2j42o3t > .elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 21px 10px 0px 10px;
}

.elementor-4059 .elementor-element.elementor-element-2j42o3t > .elementor-element-populated > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-t0moem9 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget {
	margin-bottom: 2px;
}

.elementor-4059 .elementor-element.elementor-element-t0moem9 > .elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-t0moem9 > .elementor-element-populated > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-6qg3od2 .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-lwtc36p .elementor-spacer-inner {
	height: 35px;
}

.elementor-4059 .elementor-element.elementor-element-lwtc36p .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-tfnt0lx {
	color: #29a4e3;
	letter-spacing: 1px;
}

.elementor-4059 .elementor-element.elementor-element-tfnt0lx .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-7g1ier8 {
	color: #9a9a9a;
}

.elementor-4059 .elementor-element.elementor-element-7g1ier8 > .elementor-widget-container {
	margin: -14px 0px 0px 0px;
}

.elementor-4059 .elementor-element.elementor-element-7g1ier8 .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-0ghyjo9 .elementor-divider-separator {
	border-top-style: solid;
	border-top-width: 4px;
	border-top-color: #29a4e3;
	width: 46px;
}

.elementor-4059 .elementor-element.elementor-element-0ghyjo9 .elementor-divider {
	padding-top: 3px;
	padding-bottom: 3px;
}

.elementor-4059 .elementor-element.elementor-element-0ghyjo9 .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-k4i2a1l .elementor-spacer-inner {
	height: 17px;
}

.elementor-4059 .elementor-element.elementor-element-k4i2a1l .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-ravw5hr .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-uzg3nft .elementor-spacer-inner {
	height: 10px;
}

.elementor-4059 .elementor-element.elementor-element-uzg3nft .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-bmftoph .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-g2z48c5 .elementor-spacer-inner {
	height: 30px;
}

.elementor-4059 .elementor-element.elementor-element-g2z48c5 .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-5gvv6zi a.elementor-button,
.elementor-4059 .elementor-element.elementor-element-5gvv6zi .elementor-button {
	padding: 18px 49px 17px 49px;
}

.elementor-4059 .elementor-element.elementor-element-5gvv6zi .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-04d3klw {
	background-image: url("../imgs/img3.jpg");
	background-position: top right;
	background-repeat: no-repeat;
	background-size: cover;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 170px 0px 119px 0px;
}

.elementor-4059 .elementor-element.elementor-element-04d3klw > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-qa429iu > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget {
	margin-bottom: 8px;
}

.elementor-4059 .elementor-element.elementor-element-qa429iu > .elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 0px 120px 0px 120px;
}

.elementor-4059 .elementor-element.elementor-element-qa429iu > .elementor-element-populated > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-4w70l5l .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-ss812s8 .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-9urqv1l .elementor-spacer-inner {
	height: 16px;
}

.elementor-4059 .elementor-element.elementor-element-9urqv1l .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-i08xklo .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-22q6mxx {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 81px 0px 80px 0px;
}

.elementor-4059 .elementor-element.elementor-element-22q6mxx > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-6ka5ddd > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget {
	margin-bottom: 10px;
}

.elementor-4059 .elementor-element.elementor-element-6ka5ddd > .elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-6ka5ddd > .elementor-element-populated > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-36fbw2h {
	text-align: center;
}

.elementor-4059 .elementor-element.elementor-element-36fbw2h .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-le4gnz0 .elementor-spacer-inner {
	height: 29px;
}

.elementor-4059 .elementor-element.elementor-element-le4gnz0 .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-v0z3m29 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-v0z3m29 > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-2a7o27r > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget {
	margin-bottom: 14px;
}

.elementor-4059 .elementor-element.elementor-element-2a7o27r > .elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-2a7o27r > .elementor-element-populated > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-181wzxr .elementor-heading-title {
	font-size: 92px;
}

.elementor-4059 .elementor-element.elementor-element-181wzxr .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-jppbt7p .elementor-divider-separator {
	border-top-style: solid;
	border-top-width: 4px;
	border-top-color: #29a4e3;
	width: 46px;
}

.elementor-4059 .elementor-element.elementor-element-jppbt7p .elementor-divider {
	padding-top: 3px;
	padding-bottom: 3px;
}

.elementor-4059 .elementor-element.elementor-element-jppbt7p .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-91fr6m8 {
	color: #b6b6b6;
	font-size: 16px;
	font-family: "Montserrat", Sans-serif;
	font-weight: 500;
	text-transform: uppercase;
}

.elementor-4059 .elementor-element.elementor-element-91fr6m8 > .elementor-widget-container {
	margin: 21px 0px 0px 0px;
}

.elementor-4059 .elementor-element.elementor-element-91fr6m8 .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-lssy51r > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget {
	margin-bottom: 14px;
}

.elementor-4059 .elementor-element.elementor-element-lssy51r > .elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-lssy51r > .elementor-element-populated > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-vocj5bq .elementor-heading-title {
	font-size: 92px;
}

.elementor-4059 .elementor-element.elementor-element-vocj5bq .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-fst5d5d .elementor-divider-separator {
	border-top-style: solid;
	border-top-width: 4px;
	border-top-color: #29a4e3;
	width: 46px;
}

.elementor-4059 .elementor-element.elementor-element-fst5d5d .elementor-divider {
	padding-top: 3px;
	padding-bottom: 3px;
}

.elementor-4059 .elementor-element.elementor-element-fst5d5d .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-wv9d30q {
	color: #b6b6b6;
	font-size: 16px;
	font-family: "Montserrat", Sans-serif;
	font-weight: 500;
	text-transform: uppercase;
}

.elementor-4059 .elementor-element.elementor-element-wv9d30q > .elementor-widget-container {
	margin: 21px 0px 0px 0px;
}

.elementor-4059 .elementor-element.elementor-element-wv9d30q .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-34qekjp > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget {
	margin-bottom: 14px;
}

.elementor-4059 .elementor-element.elementor-element-34qekjp > .elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-34qekjp > .elementor-element-populated > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-ja8lfs0 .elementor-heading-title {
	font-size: 92px;
}

.elementor-4059 .elementor-element.elementor-element-ja8lfs0 .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-gp1l63d .elementor-divider-separator {
	border-top-style: solid;
	border-top-width: 4px;
	border-top-color: #29a4e3;
	width: 46px;
}

.elementor-4059 .elementor-element.elementor-element-gp1l63d .elementor-divider {
	padding-top: 3px;
	padding-bottom: 3px;
}

.elementor-4059 .elementor-element.elementor-element-gp1l63d .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-6mbupx1 {
	color: #b6b6b6;
	font-size: 16px;
	font-family: "Montserrat", Sans-serif;
	font-weight: 500;
	text-transform: uppercase;
}

.elementor-4059 .elementor-element.elementor-element-6mbupx1 > .elementor-widget-container {
	margin: 21px 0px 0px 0px;
}

.elementor-4059 .elementor-element.elementor-element-6mbupx1 .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-q17z7ip > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget {
	margin-bottom: 14px;
}

.elementor-4059 .elementor-element.elementor-element-q17z7ip > .elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-q17z7ip > .elementor-element-populated > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-qcuhxda .elementor-heading-title {
	font-size: 92px;
}

.elementor-4059 .elementor-element.elementor-element-qcuhxda .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-5qpt7ya .elementor-divider-separator {
	border-top-style: solid;
	border-top-width: 4px;
	border-top-color: #29a4e3;
	width: 46px;
}

.elementor-4059 .elementor-element.elementor-element-5qpt7ya .elementor-divider {
	padding-top: 3px;
	padding-bottom: 3px;
}

.elementor-4059 .elementor-element.elementor-element-5qpt7ya .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-ameavud {
	color: #b6b6b6;
	font-size: 16px;
	font-family: "Montserrat", Sans-serif;
	font-weight: 500;
	text-transform: uppercase;
}

.elementor-4059 .elementor-element.elementor-element-ameavud > .elementor-widget-container {
	margin: 21px 0px 0px 0px;
}

.elementor-4059 .elementor-element.elementor-element-ameavud .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-lw3p2cp .elementor-spacer-inner {
	height: 20px;
}

.elementor-4059 .elementor-element.elementor-element-lw3p2cp .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-uk3gjyb a.elementor-button,
.elementor-4059 .elementor-element.elementor-element-uk3gjyb .elementor-button {
	background-color: #232222;
}

.elementor-4059 .elementor-element.elementor-element-uk3gjyb .elementor-button {
	border-style: solid;
	border-color: #232222;
}

.elementor-4059 .elementor-element.elementor-element-uk3gjyb .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-7emw1a5 {
	background-image: url("../imgs/img4.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 122px 0px 33px 0px;
}

.elementor-4059 .elementor-element.elementor-element-7emw1a5 > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-0a63k8j > .elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-0a63k8j > .elementor-element-populated > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-lk78ftj > .elementor-widget-container {
	margin: 0px 0px 0px 110px;
}

.elementor-4059 .elementor-element.elementor-element-lk78ftj .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-qymddvc {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-qymddvc > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-rb5uhka > .elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 0px 126px 0px 110px;
}

.elementor-4059 .elementor-element.elementor-element-rb5uhka > .elementor-element-populated > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-2zdrafd .elementor-spacer-inner {
	height: 15px;
}

.elementor-4059 .elementor-element.elementor-element-2zdrafd .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-tyam0kd .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-welo2ub > .elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-welo2ub > .elementor-element-populated > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-flld8bq {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 90px 0px 83px 0px;
}

.elementor-4059 .elementor-element.elementor-element-flld8bq > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-q35koq4 > .elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 0px 0px 0px 0px;
}

.elementor-4059 .elementor-element.elementor-element-q35koq4 > .elementor-element-populated > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-5uyy4af {
	text-align: center;
}

.elementor-4059 .elementor-element.elementor-element-5uyy4af .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-v6qy9b4 .elementor-spacer-inner {
	height: 20px;
}

.elementor-4059 .elementor-element.elementor-element-v6qy9b4 .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-7zlj1yi {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-7zlj1yi > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-a3em74b > .elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-a3em74b > .elementor-element-populated > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-w1cl9w1 .elementor-icon-wrapper {
	text-align: left;
}

.elementor-4059 .elementor-element.elementor-element-w1cl9w1.elementor-view-stacked .elementor-icon {
	background-color: #333333;
}

.elementor-4059 .elementor-element.elementor-element-w1cl9w1.elementor-view-framed .elementor-icon,
.elementor-4059 .elementor-element.elementor-element-w1cl9w1.elementor-view-default .elementor-icon {
	color: #333333;
	border-color: #333333;
}

.elementor-4059 .elementor-element.elementor-element-w1cl9w1 .elementor-icon {
	font-size: 22px;
}

.elementor-4059 .elementor-element.elementor-element-w1cl9w1 .elementor-icon i {
	transform: rotate(0deg);
}

.elementor-4059 .elementor-element.elementor-element-w1cl9w1 .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-jz19bez .elementor-divider-separator {
	border-top-style: solid;
	border-top-width: 4px;
	border-top-color: #29a4e3;
	width: 46px;
}

.elementor-4059 .elementor-element.elementor-element-jz19bez .elementor-divider {
	padding-top: 3px;
	padding-bottom: 3px;
}

.elementor-4059 .elementor-element.elementor-element-jz19bez .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-krza9r1 {
	color: #919191;
}

.elementor-4059 .elementor-element.elementor-element-krza9r1 > .elementor-widget-container {
	margin: 0px 35px 0px 0px;
}

.elementor-4059 .elementor-element.elementor-element-krza9r1 .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-enfbvjz > .elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-enfbvjz > .elementor-element-populated > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-pz0okmf .elementor-icon-wrapper {
	text-align: left;
}

.elementor-4059 .elementor-element.elementor-element-pz0okmf.elementor-view-stacked .elementor-icon {
	background-color: #333333;
}

.elementor-4059 .elementor-element.elementor-element-pz0okmf.elementor-view-framed .elementor-icon,
.elementor-4059 .elementor-element.elementor-element-pz0okmf.elementor-view-default .elementor-icon {
	color: #333333;
	border-color: #333333;
}

.elementor-4059 .elementor-element.elementor-element-pz0okmf .elementor-icon {
	font-size: 22px;
}

.elementor-4059 .elementor-element.elementor-element-pz0okmf .elementor-icon i {
	transform: rotate(0deg);
}

.elementor-4059 .elementor-element.elementor-element-pz0okmf .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-pi7xbqs .elementor-divider-separator {
	border-top-style: solid;
	border-top-width: 4px;
	border-top-color: #29a4e3;
	width: 46px;
}

.elementor-4059 .elementor-element.elementor-element-pi7xbqs .elementor-divider {
	padding-top: 3px;
	padding-bottom: 3px;
}

.elementor-4059 .elementor-element.elementor-element-pi7xbqs .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-wj6u4c8 {
	color: #919191;
}

.elementor-4059 .elementor-element.elementor-element-wj6u4c8 > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-4059 .elementor-element.elementor-element-wj6u4c8 .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-lmu93hr > .elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-lmu93hr > .elementor-element-populated > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-bhal018 .elementor-icon-wrapper {
	text-align: left;
}

.elementor-4059 .elementor-element.elementor-element-bhal018.elementor-view-stacked .elementor-icon {
	background-color: #333333;
}

.elementor-4059 .elementor-element.elementor-element-bhal018.elementor-view-framed .elementor-icon,
.elementor-4059 .elementor-element.elementor-element-bhal018.elementor-view-default .elementor-icon {
	color: #333333;
	border-color: #333333;
}

.elementor-4059 .elementor-element.elementor-element-bhal018 .elementor-icon {
	font-size: 22px;
}

.elementor-4059 .elementor-element.elementor-element-bhal018 .elementor-icon i {
	transform: rotate(0deg);
}

.elementor-4059 .elementor-element.elementor-element-bhal018 .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-eyxb72y .elementor-divider-separator {
	border-top-style: solid;
	border-top-width: 4px;
	border-top-color: #29a4e3;
	width: 46px;
}

.elementor-4059 .elementor-element.elementor-element-eyxb72y .elementor-divider {
	padding-top: 3px;
	padding-bottom: 3px;
}

.elementor-4059 .elementor-element.elementor-element-eyxb72y .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-hwpd3uc {
	color: #919191;
}

.elementor-4059 .elementor-element.elementor-element-hwpd3uc > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-4059 .elementor-element.elementor-element-hwpd3uc .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-4whf6do > .elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-4whf6do > .elementor-element-populated > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-pp5gjab .elementor-icon-wrapper {
	text-align: left;
}

.elementor-4059 .elementor-element.elementor-element-pp5gjab.elementor-view-stacked .elementor-icon {
	background-color: #333333;
}

.elementor-4059 .elementor-element.elementor-element-pp5gjab.elementor-view-framed .elementor-icon,
.elementor-4059 .elementor-element.elementor-element-pp5gjab.elementor-view-default .elementor-icon {
	color: #333333;
	border-color: #333333;
}

.elementor-4059 .elementor-element.elementor-element-pp5gjab .elementor-icon {
	font-size: 22px;
}

.elementor-4059 .elementor-element.elementor-element-pp5gjab .elementor-icon i {
	transform: rotate(0deg);
}

.elementor-4059 .elementor-element.elementor-element-pp5gjab .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-k128qid .elementor-divider-separator {
	border-top-style: solid;
	border-top-width: 4px;
	border-top-color: #29a4e3;
	width: 46px;
}

.elementor-4059 .elementor-element.elementor-element-k128qid .elementor-divider {
	padding-top: 3px;
	padding-bottom: 3px;
}

.elementor-4059 .elementor-element.elementor-element-k128qid .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-l8h8did {
	color: #919191;
}

.elementor-4059 .elementor-element.elementor-element-l8h8did > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-4059 .elementor-element.elementor-element-l8h8did .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-8xcu6bc {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 90px 0px 83px 0px;
}

.elementor-4059 .elementor-element.elementor-element-8xcu6bc > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-8osri74 > .elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 0px 0px 0px 0px;
}

.elementor-4059 .elementor-element.elementor-element-8osri74 > .elementor-element-populated > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-o5b11t5 {
	text-align: center;
}

.elementor-4059 .elementor-element.elementor-element-o5b11t5 > .elementor-widget-container {
	padding: 0px 15px 0px 15px;
}

.elementor-4059 .elementor-element.elementor-element-o5b11t5 .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-eiu8h85 .elementor-spacer-inner {
	height: 20px;
}

.elementor-4059 .elementor-element.elementor-element-eiu8h85 .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-d6jm7m4 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-d6jm7m4 > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-335qz4x > .elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-335qz4x > .elementor-element-populated > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-xl2nvn7.elementor-view-stacked .elementor-icon {
	background-color: #333333;
}

.elementor-4059 .elementor-element.elementor-element-xl2nvn7.elementor-view-framed .elementor-icon,
.elementor-4059 .elementor-element.elementor-element-xl2nvn7.elementor-view-default .elementor-icon {
	color: #333333;
	border-color: #333333;
}

.elementor-4059 .elementor-element.elementor-element-xl2nvn7.elementor-position-right .elementor-icon-box-icon {
	margin-left: 13px;
}

.elementor-4059 .elementor-element.elementor-element-xl2nvn7.elementor-position-left .elementor-icon-box-icon {
	margin-right: 13px;
}

.elementor-4059 .elementor-element.elementor-element-xl2nvn7.elementor-position-top .elementor-icon-box-icon {
	margin-bottom: 13px;
}

.elementor-4059 .elementor-element.elementor-element-xl2nvn7 .elementor-icon {
	font-size: 22px;
}

.elementor-4059 .elementor-element.elementor-element-xl2nvn7 .elementor-icon i {
	transform: rotate(0deg);
}

.elementor-4059 .elementor-element.elementor-element-xl2nvn7 .elementor-icon-box-wrapper {
	text-align: center;
}

.elementor-4059 .elementor-element.elementor-element-xl2nvn7 .elementor-icon-box-content .elementor-icon-box-description {
	color: #919191;
}

.elementor-4059 .elementor-element.elementor-element-xl2nvn7 .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-7n22zhz.elementor-view-stacked .elementor-icon {
	background-color: #333333;
}

.elementor-4059 .elementor-element.elementor-element-7n22zhz.elementor-view-framed .elementor-icon,
.elementor-4059 .elementor-element.elementor-element-7n22zhz.elementor-view-default .elementor-icon {
	color: #333333;
	border-color: #333333;
}

.elementor-4059 .elementor-element.elementor-element-7n22zhz.elementor-position-right .elementor-icon-box-icon {
	margin-left: 13px;
}

.elementor-4059 .elementor-element.elementor-element-7n22zhz.elementor-position-left .elementor-icon-box-icon {
	margin-right: 13px;
}

.elementor-4059 .elementor-element.elementor-element-7n22zhz.elementor-position-top .elementor-icon-box-icon {
	margin-bottom: 13px;
}

.elementor-4059 .elementor-element.elementor-element-7n22zhz .elementor-icon {
	font-size: 22px;
}

.elementor-4059 .elementor-element.elementor-element-7n22zhz .elementor-icon i {
	transform: rotate(0deg);
}

.elementor-4059 .elementor-element.elementor-element-7n22zhz .elementor-icon-box-wrapper {
	text-align: center;
}

.elementor-4059 .elementor-element.elementor-element-7n22zhz .elementor-icon-box-content .elementor-icon-box-description {
	color: #919191;
}

.elementor-4059 .elementor-element.elementor-element-7n22zhz .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-86q7m6h > .elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-86q7m6h > .elementor-element-populated > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-fvn9cjy.elementor-view-stacked .elementor-icon {
	background-color: #333333;
}

.elementor-4059 .elementor-element.elementor-element-fvn9cjy.elementor-view-framed .elementor-icon,
.elementor-4059 .elementor-element.elementor-element-fvn9cjy.elementor-view-default .elementor-icon {
	color: #333333;
	border-color: #333333;
}

.elementor-4059 .elementor-element.elementor-element-fvn9cjy.elementor-position-right .elementor-icon-box-icon {
	margin-left: 13px;
}

.elementor-4059 .elementor-element.elementor-element-fvn9cjy.elementor-position-left .elementor-icon-box-icon {
	margin-right: 13px;
}

.elementor-4059 .elementor-element.elementor-element-fvn9cjy.elementor-position-top .elementor-icon-box-icon {
	margin-bottom: 13px;
}

.elementor-4059 .elementor-element.elementor-element-fvn9cjy .elementor-icon {
	font-size: 22px;
}

.elementor-4059 .elementor-element.elementor-element-fvn9cjy .elementor-icon i {
	transform: rotate(0deg);
}

.elementor-4059 .elementor-element.elementor-element-fvn9cjy .elementor-icon-box-wrapper {
	text-align: center;
}

.elementor-4059 .elementor-element.elementor-element-fvn9cjy .elementor-icon-box-content .elementor-icon-box-description {
	color: #919191;
}

.elementor-4059 .elementor-element.elementor-element-fvn9cjy .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-1710kk0.elementor-view-stacked .elementor-icon {
	background-color: #333333;
}

.elementor-4059 .elementor-element.elementor-element-1710kk0.elementor-view-framed .elementor-icon,
.elementor-4059 .elementor-element.elementor-element-1710kk0.elementor-view-default .elementor-icon {
	color: #333333;
	border-color: #333333;
}

.elementor-4059 .elementor-element.elementor-element-1710kk0.elementor-position-right .elementor-icon-box-icon {
	margin-left: 13px;
}

.elementor-4059 .elementor-element.elementor-element-1710kk0.elementor-position-left .elementor-icon-box-icon {
	margin-right: 13px;
}

.elementor-4059 .elementor-element.elementor-element-1710kk0.elementor-position-top .elementor-icon-box-icon {
	margin-bottom: 13px;
}

.elementor-4059 .elementor-element.elementor-element-1710kk0 .elementor-icon {
	font-size: 22px;
}

.elementor-4059 .elementor-element.elementor-element-1710kk0 .elementor-icon i {
	transform: rotate(0deg);
}

.elementor-4059 .elementor-element.elementor-element-1710kk0 .elementor-icon-box-wrapper {
	text-align: center;
}

.elementor-4059 .elementor-element.elementor-element-1710kk0 .elementor-icon-box-content .elementor-icon-box-description {
	color: #919191;
}

.elementor-4059 .elementor-element.elementor-element-1710kk0 .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-bxhw471 {
	background-color: darkslategrey;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 82px 0px 60px 0px;
}

.elementor-4059 .elementor-element.elementor-element-bxhw471 > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-osuk5eu > .elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-osuk5eu > .elementor-element-populated > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-4f3f862 {
	text-align: center;
}

.elementor-4059 .elementor-element.elementor-element-4f3f862 .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-cewarpf .elementor-spacer-inner {
	height: 16px;
}

.elementor-4059 .elementor-element.elementor-element-cewarpf .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-8l6tp3w {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-8l6tp3w > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-vt4adu4 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget {
	margin-bottom: 0px;
}

.elementor-4059 .elementor-element.elementor-element-vt4adu4 > .elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-vt4adu4 > .elementor-element-populated > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-w1j9e0t {
	text-align: right;
}

.elementor-4059 .elementor-element.elementor-element-w1j9e0t .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-q6gc1c2 .elementor-text-editor {
	text-align: right;
}

.elementor-4059 .elementor-element.elementor-element-q6gc1c2 {
	color: #767676;
	font-size: 13px;
	font-family: "Roboto", Sans-serif;
}

.elementor-4059 .elementor-element.elementor-element-q6gc1c2 .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-3b3ec5h > .elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-3b3ec5h > .elementor-element-populated > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-0m3tb0x {
	text-align: center;
}

.elementor-4059 .elementor-element.elementor-element-0m3tb0x .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-jv7gt27 > .elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-jv7gt27 > .elementor-element-populated > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-0nily0b .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-tpl836z {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-tpl836z > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-lhk4uvc > .elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-lhk4uvc > .elementor-element-populated > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4059 .elementor-element.elementor-element-pifuvd5 .jet-map {
	height: 466px;
}

.elementor-4059 .elementor-element.elementor-element-pifuvd5 .elementor-widget-container {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

@media(max-width:1024px) {
	.elementor-4059 .elementor-element.elementor-element-2hp7bty {
		padding: 100px 100px 100px 100px;
	}

	.elementor-4059 .elementor-element.elementor-element-181wzxr .elementor-heading-title {
		font-size: 60px;
	}

	.elementor-4059 .elementor-element.elementor-element-vocj5bq .elementor-heading-title {
		font-size: 60px;
	}

	.elementor-4059 .elementor-element.elementor-element-ja8lfs0 .elementor-heading-title {
		font-size: 60px;
	}

	.elementor-4059 .elementor-element.elementor-element-qcuhxda .elementor-heading-title {
		font-size: 60px;
	}

	.elementor-4059 .elementor-element.elementor-element-lk78ftj > .elementor-widget-container {
		margin: 0px 0px 0px 30px;
	}

	.elementor-4059 .elementor-element.elementor-element-rb5uhka > .elementor-element-populated {
		padding: 0px 50px 0px 30px;
	}
}

@media(max-width:767px) {
	.elementor-4059 .elementor-element.elementor-element-2hp7bty {
		padding: 90px 20px 90px 20px;
	}

	.elementor-4059 .elementor-element.elementor-element-jiusjaf {
		padding: 25px 0px 0px 0px;
	}

	.elementor-4059 .elementor-element.elementor-element-0rt79vq {
		padding: 25px 0px 25px 0px;
	}

	.elementor-4059 .elementor-element.elementor-element-04d3klw {
		padding: 90px 0px 90px 0px;
	}

	.elementor-4059 .elementor-element.elementor-element-qa429iu > .elementor-element-populated {
		padding: 0px 20px 0px 20px;
	}

	.elementor-4059 .elementor-element.elementor-element-181wzxr {
		text-align: center;
	}

	.elementor-4059 .elementor-element.elementor-element-jppbt7p .elementor-divider {
		text-align: center;
	}

	.elementor-4059 .elementor-element.elementor-element-91fr6m8 .elementor-text-editor {
		text-align: center;
	}

	.elementor-4059 .elementor-element.elementor-element-vocj5bq {
		text-align: center;
	}

	.elementor-4059 .elementor-element.elementor-element-fst5d5d .elementor-divider {
		text-align: center;
	}

	.elementor-4059 .elementor-element.elementor-element-wv9d30q .elementor-text-editor {
		text-align: center;
	}

	.elementor-4059 .elementor-element.elementor-element-ja8lfs0 {
		text-align: center;
	}

	.elementor-4059 .elementor-element.elementor-element-gp1l63d .elementor-divider {
		text-align: center;
	}

	.elementor-4059 .elementor-element.elementor-element-6mbupx1 .elementor-text-editor {
		text-align: center;
	}

	.elementor-4059 .elementor-element.elementor-element-qcuhxda {
		text-align: center;
	}

	.elementor-4059 .elementor-element.elementor-element-5qpt7ya .elementor-divider {
		text-align: center;
	}

	.elementor-4059 .elementor-element.elementor-element-ameavud .elementor-text-editor {
		text-align: center;
	}

	.elementor-4059 .elementor-element.elementor-element-7emw1a5 {
		padding: 70px 0px 70px 0px;
	}

	.elementor-4059 .elementor-element.elementor-element-rb5uhka > .elementor-element-populated {
		padding: 0px 20px 0px 20px;
	}

	.elementor-4059 .elementor-element.elementor-element-jz19bez .elementor-divider {
		text-align: center;
	}

	.elementor-4059 .elementor-element.elementor-element-pi7xbqs .elementor-divider {
		text-align: center;
	}

	.elementor-4059 .elementor-element.elementor-element-eyxb72y .elementor-divider {
		text-align: center;
	}

	.elementor-4059 .elementor-element.elementor-element-k128qid .elementor-divider {
		text-align: center;
	}

	.elementor-4059 .elementor-element.elementor-element-w1j9e0t {
		text-align: center;
	}

	.elementor-4059 .elementor-element.elementor-element-q6gc1c2 .elementor-text-editor {
		text-align: center;
	}

	.elementor-4059 .elementor-element.elementor-element-0m3tb0x {
		text-align: center;
	}
}

@media(min-width:768px) {
	.elementor-4059 .elementor-element.elementor-element-vt4adu4 {
		width: 42%;
	}

	.elementor-4059 .elementor-element.elementor-element-3b3ec5h {
		width: 15.333%;
	}

	.elementor-4059 .elementor-element.elementor-element-jv7gt27 {
		width: 42%;
	}
}
