<!DOCTYPE HTML>

<html lang="ru">

<head>
	<title>Адвокатское объединение "Антарес"</title>
	<meta charset="utf-8" />
	<div>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta charset="UTF-8" />
		<!-- this is header-css -->
		<!-- link rel="stylesheet" type="text/css"
              href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" / -->
		<link rel="stylesheet" href="css/default.css" type="text/css" media="all" />
		<link rel="stylesheet" id="jquery-swiper-css" href="css/swiper.min.css" type="text/css" media="all" />
		<link rel="stylesheet" id="cherry-testi-css" href="css/style.css" type="text/css" media="all" />
		<link rel="stylesheet" id="cherry-services-grid-css" href="css/cherry-services-grid.css" type="text/css" media="all" />
		<link rel="stylesheet" id="font-awesome-css" href="css/font-awesome.min.css" type="text/css" media="all" />
		<link rel="stylesheet" id="contact-form-7-css" href="css/styles.css" type="text/css" media="all" />
		<link rel="stylesheet" id="jet-elements-css" href="css/jet-elements.css" type="text/css" media="all" />
		<link rel="stylesheet" id="material-icons-css" href="css/material-icons.min.css" type="text/css" media="all" />
		<link rel="stylesheet" id="magnific-popup-css" href="css/magnific-popup.min.css" type="text/css" media="all" />
		<link rel="stylesheet" id="attorneygroup-theme-style-css" href="css/style2.css" type="text/css" media="all" />
		<link rel="stylesheet" id="elementor-icons-css" href="css/elementor-icons.min.css" type="text/css" media="all" />
		<link rel="stylesheet" id="elementor-animations-css" href="css/animations.min.css" type="text/css" media="all" />
		<link rel="stylesheet" id="elementor-frontend-css" href="css/frontend.min.css" type="text/css" media="all" />
		<link rel="stylesheet" id="elementor-frontend-inline-css" href="css/elector.css" type="text/css" media="all" />
		<link rel="stylesheet" id="cherry-team-css" href="css/cherry-team.css@ver=1.4.2" type="text/css" media="all" />
		<script type="text/javascript" src="js/jquery.js@ver=1.12.4"></script>
		<link rel="stylesheet" href="css/typograph.css" type="text/css" media="all" />
		<link rel="stylesheet" href="css/mobile.css" type="text/css" media="all" />
	</div>

</head>

<body>

	<div id="masthead" class="site-header minimal" role="banner">
		<div class="header-wrapper">
			<div class="header-container container">
				<div class="header-container_wrap">

					<div class="header-container__flex">

						<div class="site-branding">
							<div class="site-logo">
								<a class="site-logo__link" rel="home" href="index.html">
									<img height="300" width="300" src="imgs/logo_uk.png"/ width="25%" height="50%">
								</a>
							</div>
							<br>

							<div id="langs">
								<a href="" target="_blank">uk</a>
								<a href="index.html" target="_blank">ru</a>

							</div>

						</div>

						<nav id="site-navigation" class="main-navigation" role="navigation">
							<button class="menu-toggle" aria-controls="main-menu" aria-expanded="false">
								<i class="menu-toggle__icon fa fa-bars"></i>
								<i class="menu-off__icon fa fa-times"></i>
								<span>Меню</span>
							</button>
							<div class="main-menu__wrap">
								<ul id="main-menu" class="menu">
									<li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home "><a href="index.html">Главная</a></li>
									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20"><a href="ru/about.html">О нас</a></li>
									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19"><a href="ru/services.html">Услуги</a></li>
									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-17"><a href="ru/posts.html">Информация</a>
										<ul class="sub-menu">
											<li id="menu-item-944" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-944"><a href="">Новости</a></li>
											<li id="menu-item-945" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-945"><a href="">Информация</a></li>
										</ul>
									</li>
									<li id="menu-item-24" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24"><a href="ru/contacts.html">Контакты</a></li>
								</ul>
								<p class="antares">Адвокатское объединение "Антарес"</p>
							</div>
						</nav><!-- #site-navigation -->

					</div>
				</div>
			</div><!-- .header-container -->
		</div>

		<!-- div class="breadcrumbs"><div class="container"><div class="row"><div class="breadcrumbs__title"></div><div class="breadcrumbs__items">
		<div class="breadcrumbs__content">
		<div class="breadcrumbs__wrap"><div class="breadcrumbs__item"><a href="https://ld-wp.template-help.com/wordpress_64662/" class="breadcrumbs__item-link is-home" rel="home" title="Home">Главная</a></div>
			 <div class="breadcrumbs__item"><div class="breadcrumbs__item-sep">/</div></div> <div class="breadcrumbs__item"><span class="breadcrumbs__item-target">Blog</span></div>
		</div>
		</div></div></div></div>
		</div -->
	</div>

	<div id="content" class="site-content">

		<div id="full-width-header-area" class="full-width-header-area widget-area"></div>
		<div id="before-content-area" class="before-content-area widget-area"></div>
		<div class="site-content_wrap">

			<div class="row">

				<div id="primary" class="col-xs-12 col-md-12">

					<div id="before-loop-area" class="before-loop-area widget-area"></div>
					<main id="main" class="site-main" role="main">

						<article id="post-4059" class="post-4059 page type-page status-publish hentry no-thumb">


							<header class="entry-header">
								<h1 class="entry-title screen-reader-text">Главная</h1>
							</header><!-- .entry-header -->


							<div class="entry-content">
								<div class="elementor elementor-4059">
									<div class="elementor-inner">
										<div class="elementor-section-wrap">
											<section data-id="2hp7bty" class="elementor-element elementor-element-2hp7bty elementor-section-boxed elementor-section-height-default elementor-section-height-default  elementor-section elementor-top-section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" data-element_type="section">
												<div class="elementor-container elementor-column-gap-no">
													<div class="elementor-row">
														<div data-id="r08t975" class="elementor-element elementor-element-r08t975 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
															<div class="elementor-column-wrap elementor-element-populated">
																<div class="elementor-widget-wrap">
																	<div data-id="93qle0l" class="elementor-element elementor-element-93qle0l elementor-widget elementor-widget-heading" data-element_type="heading.default">
																		<div class="elementor-widget-container">
																			<!-- h1  style="color: #fff; font-size: 75px;">Здесь должен быть слоган!!!</h1-->
																			<h1 style="color: #fff;">
																				<p><i>Наш профессионализм в решении спорных вопросов — <br> Ваше спокойствие</i> &nbsp; </p>
																			</h1>
																		</div>
																	</div>


																	<!-- div data-id="h9nyc9l" class="elementor-element elementor-element-h9nyc9l elementor-widget elementor-widget-shortcode" data-element_type="shortcode.default">
				<div class="elementor-widget-container">
					<div class="elementor-shortcode"><a href="#" class="elementor-button download-button">кнопка для загрузки рекламки</a></div>
				</div>
				</div-->
																</div>
															</div>
														</div>
													</div>
												</div>
											</section>

											<section class="our_success">
												<div style="padding: 20px;">
													<h3>Наше адвокатское объединение специализируется на вопросах в сфере гражданского и хозяйственного права.</h3>
													<div>
														<p>
															Мы накапливали свой профессиональный опыт на протяжении десятилетий и считаем себя экспертами в таких специфических отраслях права как электроэнергетика, трудовое (в том числе проверки инспекции по вопросам труда), семейное право, автомобильные перевозки. Это ни в коем случае не означает, что мы не сильны в правовых вопросах возникающих у предприятий в процессе их хозяйственной деятельности, а также в правовых вопросах возникающих у граждан в повседневной их жизни (наследство, займы, договора и т.п.).
														</p>
														<p>
															Возвращаясь к теме законодательства в сфере электроэнергетики хотим заметить, что предоставить квалифицированную юридическую помощь может только юрист, который имеет солидный багаж соответствующих знаний и опыта его применения. Начиная с июня 2018 года полностью изменилось электроэнергетическое законодательство, что затронуло всех потребителей электроэнергии — и юридических и физических лиц. Принципиально поменялись в данной сфере отношения и способы их регулирования. Не сформирована судебная практика. Поэтому очень важно с самого начала правильно выстроить правовую позицию для того чтобы в будущем получать удовольствие от пользования электричеством.
														</p>
														<p>
															Не менее актуальными есть вопросы по трудовым взаимоотношениям, особенно для предприятий. Гораздо проще и дешевле провести правовой аудит и привести кадровую документацию и договорные отношения с работниками в порядок до момента проведения проверки предприятия инспекцией по вопросам труда, чем потом доказывать правильность своих действий. Мы имеем практический опыт взаимоотношения с данной инспекцией уже по итогам таких проверок и можем заверить, что на тех предприятиях где не было профессионального юридического сопровождения результаты проверок заканчивались головокружительными штрафами и в некоторых случаях фактическим прекращением хозяйственной деятельности. С другой стороны урегулирование правовых отношений с работником, также является актуальным и для самих работников, так как это может иметь далеко идущие последствия. Немаловажным является урегулирование индивидуальных правовых споров между работниками и работодателем .
														</p>


													</div>
													<p></p>
													<h3> Все адвокаты объединения имеют опыт профессиональной работы в сфере права наработанный десятилетиями.</h3>

												</div>
											</section>



											<section data-id="bxhw471" class="elementor-element elementor-element-bxhw471 elementor-section-boxed elementor-section-height-default elementor-section-height-default  elementor-section elementor-top-section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" data-element_type="section">
												<div class="elementor-container elementor-column-gap-default">
													<div class="elementor-row">
														<div data-id="osuk5eu" class="elementor-element elementor-element-osuk5eu elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
															<div class="elementor-column-wrap elementor-element-populated">
																<div class="elementor-widget-wrap">
																	<div data-id="4f3f862" class="elementor-element elementor-element-4f3f862 elementor-widget elementor-widget-heading" data-element_type="heading.default">
																		<div class="elementor-widget-container contact-box">
																			<h3 class="elementor-heading-title elementor-size-default ">Контактная информация</h3>
																		</div>
																	</div>

																	<section data-id="8l6tp3w" class="elementor-element elementor-element-8l6tp3w elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-element_type="section">
																		<div class="elementor-container elementor-column-gap-default">
																			<div class="elementor-row">
																				<div data-id="vt4adu4" class="elementor-element elementor-element-vt4adu4 elementor-column elementor-col-33 elementor-inner-column" data-element_type="column">
																					<div class="elementor-column-wrap elementor-element-populated">
																						<div class="elementor-widget-wrap">
																							<div class="elementor-widget-container">
																								<div class="blue-color">г. Днепр, пр. Гагарина, 76</div>
																							</div>
																							<div>
																								<br />

																							</div>
																							<div data-id="w1j9e0t" class="elementor-element elementor-element-w1j9e0t elementor-widget elementor-widget-heading" data-element_type="heading.default">
																								<div class="elementor-widget-container">
																									<div class="blue-color">067 368 59 57 &nbsp; Наталья Коптелова<br /></div>
																									<div class="blue-color">066 109 96 91 &nbsp; Виктор Пономаренко<br />antares.group.counsel@gmail.com</div>
																								</div>
																							</div>

																						</div>
																					</div>
																				</div>
																				<div data-id="3b3ec5h" class="elementor-element elementor-element-3b3ec5h elementor-column elementor-col-33 elementor-inner-column" data-element_type="column">


																				</div>
																				<div data-id="jv7gt27" class="elementor-element elementor-element-jv7gt27 elementor-column elementor-col-33 elementor-inner-column" data-element_type="column">
																					<div class="elementor-column-wrap elementor-element-populated">
																						<!--
<div class="elementor-widget-wrap">
	<div data-id="0nily0b" class="elementor-element elementor-element-0nily0b elementor-align-left elementor-mobile-align-center elementor-widget elementor-widget-button" data-element_type="button.default">
		<div class="elementor-widget-container">
			<div class="elementor-button-wrapper">
				<a href="index.html#" class="elementor-button-link elementor-button elementor-size-md">
					<span class="elementor-button-content-wrapper">
						<span class="elementor-button-text">Відправити Email</span>
					</span>
				</a>
			</div>
		</div>
	</div>
</div>
-->
																					</div>
																				</div>
																			</div>
																		</div>
																	</section>
																</div>
															</div>
														</div>
													</div>
												</div>
											</section>

										</div>
									</div>
								</div>
							</div><!-- .entry-content -->


						</article><!-- #post-## -->

					</main><!-- #main -->

					<div id="after-loop-area" class="after-loop-area widget-area"></div>
				</div><!-- #primary -->


			</div><!-- .row -->

		</div><!-- .container -->

		<div id="after-content-area" class="after-content-area widget-area"></div>
		<div id="after-content-full-width-area" class="after-content-full-width-area widget-area"></div>

	</div><!-- #content -->









	<!-- div class="container">

    <div class="starter-template">
        <h1>Spring Boot Web Thymeleaf + Spring Security</h1>
        <h2>1. Visit <a th:href="@{/admin}">Admin page (Spring Security protected, Need Admin Role)</a></h2>
        <h2>2. Visit <a th:href="@{/user}">User page (Spring Security protected, Need User Role)</a></h2>
        <h2>3. Visit <a th:href="@{/about}">Normal page</a></h2>
    </div>

</div -->
	<!-- /.container -->

	<div>



		<footer id="colophon" class="site-footer invert default container" role="contentinfo">

			<div class="footer-top">
				<h4 class="links-box__title">Полезные ссылки</h4>



				<div id="tve_editor" class="tve_shortcode_editor ">
					<div class="flex-container">
						<div>
							<a href="http://www.president.gov.ua/" class="tcb-button-link" target="_blank">
								<span class="tcb-button-texts"><span class="tcb-button-text thrv-inline-text">Президент Украины</span></span>
							</a>
						</div>
						<div>
							<a href="https://www.kmu.gov.ua/ua" class="tcb-button-link" target="_blank">
								<span class="tcb-button-texts"><span class="tcb-button-text thrv-inline-text">Кабинет Министров Украины</span></span>
							</a>
						</div>
						<div>
							<a href="http://rada.gov.ua/" class="tcb-button-link" target="_blank">
								<span class="tcb-button-texts"><span class="tcb-button-text thrv-inline-text">Верховный Совет Украины</span></span>
							</a>
						</div>
						<div>
							<a href="http://ovu.com.ua/bulletin" class="tcb-button-link" target="_blank">
								<span class="tcb-button-texts"><span class="tcb-button-text thrv-inline-text">Бюлетень Министерства Юстиции</span></span>
							</a>
						</div>
						<div>
							<a href="http://reyestr.court.gov.ua" class="tcb-button-link" target="_blank">
								<span class="tcb-button-texts"><span class="tcb-button-text thrv-inline-text">Реестр судебных решений</span></span>
							</a>
						</div>


						<div>
							<a href="https://court.gov.ua/fair/" class="tcb-button-link" target="_blank">
								<span class="tcb-button-texts"><span class="tcb-button-text thrv-inline-text">Информация о состоянии судебных дел</span></span>
							</a>
						</div>

						<div>
							<a href="https://court.gov.ua/fair/" class="tcb-button-link" target="_blank">
								<span class="tcb-button-texts"><span class="tcb-button-text thrv-inline-text">Правила поиска в Реестре судебных решений</span></span>
							</a>
						</div>



						<div>
							<a href="https://asvpweb.minjust.gov.ua/#/search-debtors" class="tcb-button-link" target="_blank">
								<span class="tcb-button-texts"><span class="tcb-button-text thrv-inline-text">Реестр исполнительных производств</span></span>
							</a>
						</div>


						<div>
							<a href="https://erb.minjust.gov.ua/#/search-debtors" class="tcb-button-link" target="_blank">
								<span class="tcb-button-texts"><span class="tcb-button-text thrv-inline-text">Единый реестр должников</span></span>
							</a>
						</div>



						<div>
							<a href="http://zakon4.rada.gov.ua/laws/aFind" class="tcb-button-link" target="_blank">
								<span class="tcb-button-texts"><span class="tcb-button-text thrv-inline-text">База законодательства Украины</span></span>
							</a>
						</div>

						<div>
							<a href="http://zakon4.rada.gov.ua/laws/main/o79" class="tcb-button-link" target="_blank">
								<span class="tcb-button-texts"><span class="tcb-button-text thrv-inline-text">Практика Конституционного суда</span></span>
							</a>
						</div>
						<div>
							<a href="http://zakon4.rada.gov.ua/laws/main/o71" class="tcb-button-link" target="_blank">
								<span class="tcb-button-texts"><span class="tcb-button-text thrv-inline-text">Практика Верховного суда Украины</span></span>
							</a>
						</div>


						<div>
							<a href="http://zakon4.rada.gov.ua/laws/main/o637" class="tcb-button-link" target="_blank">
								<span class="tcb-button-texts"><span class="tcb-button-text thrv-inline-text">Практика Высшего хозяйственного суда</span></span>
							</a>
						</div>



						<div>
							<a href="http://zakon4.rada.gov.ua/laws/main/o849" class="tcb-button-link" target="_blank">
								<span class="tcb-button-texts"><span class="tcb-button-text thrv-inline-text">Практика Высшего административного суда</span></span>
							</a>
						</div>

						<div>
							<a href="http://zakon4.rada.gov.ua/laws/main/o1120" class="tcb-button-link" target="_blank">
								<span class="tcb-button-texts"><span class="tcb-button-text thrv-inline-text">Практика Высшего специализированного суда</span></span>
							</a>
						</div>

						<div>
							<a href="http://forum.liga.net" class="tcb-button-link" target="_blank">
								<span class="tcb-button-texts"><span class="tcb-button-text thrv-inline-text">Юридический форум "Лига"</span></span>
							</a>
						</div>

						<div>
							<a href="https://usr.minjust.gov.ua/ua/freesearch" class="tcb-button-link" target="_blank">
								<span class="tcb-button-texts"><span class="tcb-button-text thrv-inline-text">Реестр юр. лиц и физ. лиц-предпринимателей</span></span>
							</a>
						</div>

						<div>
							<a href="https://id.court.gov.ua/" class="tcb-button-link" target="_blank">
								<span class="tcb-button-texts"><span class="tcb-button-text thrv-inline-text">Сайт электронного суда</span></span>
							</a>
						</div>
					</div>
				</div>
			</div>




			<div class="footer-container">
				<div class="site-info container">
					<div class="footer-copyright">© COPYRIGHT 2018. DAGAZ</div>
				</div><!-- .site-info -->
			</div><!-- .container -->
		</footer><!-- #colophon -->


		<script type="text/javascript">
			/* <![CDATA[ */
			var wp_load_style = ["cherry-testi.css", "cherry-services.css", "cherry-services-theme.css", "cherry-services-grid.css", "font-awesome.css", "contact-form-7.css", "jet-elements.css", "attorneygroup-theme-style.css", "cherry-google-fonts.css", "elementor-icons.css", "elementor-animations.css", "elementor-frontend.css", "cherry-team.css", "cherry-team-grid.css"];
			var wp_load_script = ["cherry-js-core.js", "contact-form-7.js", "attorneygroup-theme-script.js", "cherry-post-formats.js"];
			var cherry_ajax = "01bb0a00e9";
			var ui_init_object = {
				"auto_init": "false",
				"targets": []
			};
			/* ]]> */

		</script>
		<script type="text/javascript" src="js/min/cherry-js-core.min.js@ver=1.5.4"></script>
		<script type="text/javascript">
			function CherryCSSCollector() {
				"use strict";
				var t, e = window.CherryCollectedCSS;
				//void 0 !== e and (t=document.createElement("style"),t.setAttribute("title",e.title),t.setAttribute("type",e.type),t.textContent=e.css,document.head.appendChild(t))
			}
			CherryCSSCollector();

		</script>
		<script type="text/javascript">
			/* <![CDATA[ */
			var wpcf7 = {
				"apiSettings": {
					"root": "http:\/\/ld-wp.template-help.com\/wordpress_64662\/wp-json\/contact-form-7\/v1",
					"namespace": "contact-form-7\/v1"
				},
				"recaptcha": {
					"messages": {
						"empty": "Please verify that you are not a robot."
					}
				}
			};
			/* ]]> */

		</script>
		<script type="text/javascript" src="js/scripts.js@ver=4.9"></script>
		<script type="text/javascript" src="js/hoverIntent.min.js@ver=1.8.1"></script>
		<script type="text/javascript" src="js/super-guacamole.min.js@ver=1.0.0"></script>
		<script type="text/javascript" src="js/swiper.jquery.min.js@ver=3.4.2"></script>
		<script type="text/javascript" src="js/jquery.ui.totop.min.js@ver=1.2.0"></script>
		<script type="text/javascript">
			/* <![CDATA[ */
			var attorneygroup = {
				"ajaxurl": "",
				"labels": {
					"totop_button": "Top",
					"hidden_menu_items_title": "More"
				}
			};
			/* ]]> */

		</script>
		<script type="text/javascript" src="js/theme-script.js@ver=1.1.0"></script>
		<script type="text/javascript" src="js/min/cherry-post-formats.min.js@ver=1.5.4"></script>
		<script type="text/javascript" src="js/wp-embed.min.js@ver=4.8.2"></script>
		<script type="text/javascript" src="js/public.min.js@ver=1.1.0.2"></script>

		<script type="text/javascript" src="js/position.min.js@ver=1.11.4"></script>
		<script type="text/javascript" src="js/dialog.min.js@ver=3.2.4"></script>
		<script type="text/javascript" src="js/waypoints.min.js@ver=4.0.2"></script>
		<script type="text/javascript">
			/* <![CDATA[ */
			var elementorFrontendConfig = {
				"isEditMode": "",
				"settings": {
					"page": [],
					"general": {
						"elementor_global_image_lightbox": "yes",
						"elementor_enable_lightbox_in_editor": "yes"
					}
				},
				"is_rtl": "",
				"post": {
					"id": 4059,
					"title": "Home",
					"excerpt": ""
				},
				"urls": {
					"assets": ""
				}
			};
			/* ]]> */

		</script>
		<script type="text/javascript" src="js/frontend.min.js@ver=1.7.0"></script>


	</div>

</body>

</html>
